.respect-gray {
  -webkit-filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
/* 1.水平垂直居中 */
.dd-common-centerXY {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 2.两端分散对齐 */
div.dd-common-alignside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* 3.上下高度占满 */
.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-height-fix {
  display: flex;
  flex-direction: column;
}

.full-height-auto {
  /* flex-grown flex-shink flex-basis */
  flex: 1;
  overflow-y: auto;
}

/* 4.多栏之固定+自适应 */
.full-width {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.full-width-fix {
  display: flex;
  flex-direction: row;
}

.full-width-auto {
  flex: 1;
}

.line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  line-height: 1.3;
  white-space: initial;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.spin {
  animation: spin 4s infinite linear;
}

.txt-omit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.am-list-view-scrollview-content {
  width: 100%;
}

div.am-tabs-horizontal .am-tabs-pane-wrap-inactive {
  height: auto;
}

.list-view-section-body {
  overflow: hidden;
}