.box .cell {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81e2ac;
    color: white;
    border-radius: 50%;
    width: 28%;
    height: 28%;
    margin-bottom: 8%;
    font-size: 20px;
    -webkit-tap-highlight-color: red;
}

.box .center {
    margin-left: 8%;
    margin-right: 8%;
}

.cell:active {
    background-color: #abefc9;
}